.contentTipoBoleto{
    display: flex;
    justify-content: center;
    align-items: center;
}

.categories{
    display: flex;
}
.categories p{
    font-family: 'Author', sans-serif;
    font-size: 20px;
    color: aliceblue;
}

.categories select{
    width: 100px;
    height: 23px;
    margin-left: 10px;
    font-size: 15px;
    border: 0;
    text-align: center;
}

/*media querys*/
@media only screen and (min-width: 600px) {
    .categories select{
        width: 130px;
        height: 30px;
        border-radius: 5px;
    }
}